<%- include ('./partials/header') %>

<div class="container">
	<div style="margin: 25px auto;" class="col-lg-12">
		<h3>
			All used coupons are here:
		</h3>
	</div>
	<table  id="myTable" style= "margin: 30px auto;" class="table table-striped" >
		  <thead>

			<tr>
			  <th  scope="col" onclick="sortTable(0)">Coupon name</th>
			  <th scope="col" onclick="sortTable(1)">expiration date</th>
			  <th  scope="col">description</th>
        <th  scope="col"onclick="sortTable(2)">creator</th>
			  <th  scope="col"onclick="sortTable(2)">created date</th>
        <th  scope="col"onclick="sortTable(3)">coupon used by</th>
        <th  scope="col"onclick="sortTable(4)">last changed date</th>
				<th  scope="col"onclick="sortTable(5)">costed</th>
			  </tr>

		  </thead>
		  <tbody>

			<% coupons.forEach(function(coupon){%>

			<tr >
			  <th ><a style="color:black;" href = "/graveyard/<%-coupon._id%>"> <%=coupon.couponName %> </a></th>
			  <td><%=coupon.validUntil.toDateString() %></td>
			  <td><%=coupon.description %></td>
			  <td><%=coupon.creator.username %></td>
        <td><%=coupon.createdDate.toDateString() %></td>
				<td><%=coupon.usedBy.username %></td>
        <td><%=coupon.lastChangedDate.toDateString() %></td>
				<td><%=coupon.cost %></td>
			</tr>

			<%})%>

		  </tbody>
	</table>
</div>

<script>
function sortTable(n) {
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("myTable");
  switching = true;
  //Set the sorting direction to ascending:
  dir = "asc";
  /*Make a loop that will continue until
  no switching has been done:*/
  while (switching) {
    //start by saying: no switching is done:
    switching = false;
    rows = table.rows;
    /*Loop through all table rows (except the
    first, which contains table headers):*/
    for (i = 1; i < (rows.length - 1); i++) {
      //start by saying there should be no switching:
      shouldSwitch = false;
      /*Get the two elements you want to compare,
      one from current row and one from the next:*/
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      /*check if the two rows should switch place,
      based on the direction, asc or desc:*/
      if (dir == "asc") {
        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
          //if so, mark as a switch and break the loop:
          shouldSwitch= true;
          break;
        }
      } else if (dir == "desc") {
        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
          //if so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      }
    }
    if (shouldSwitch) {
      /*If a switch has been marked, make the switch
      and mark that a switch has been done:*/
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      //Each time a switch is done, increase this count by 1:
      switchcount ++;
    } else {
      /*If no switching has been done AND the direction is "asc",
      set the direction to "desc" and run the while loop again.*/
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}
</script>
<%- include ('./partials/footer') %>
